<div class="container">
  <div class="row justify-content-end">
    <ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
  </div>
</div>

<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    
    <!-- Image -->
    <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>

    <!-- File -->
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <!-- Date -->
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    
    <!-- Authors -->
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-metadata-representation-list>
       
    <!-- Publisher -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>

    <!-- DOI -->
    <ds-item-page-uri-field  [item]="object" 
      [fields]="['dc.identifier.doi']"
      [label]="'item.preview.dc.identifier.doi'">
    </ds-item-page-uri-field >

    <!-- ISSN -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.identifier.issn']"
      [label]="'item.preview.dc.relation.issn'">
    </ds-generic-item-page-field>

    <!-- ISBN -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.identifier.isbn']"
      [label]="'item.preview.dc.identifier.isbn'">
    </ds-generic-item-page-field>

    <!-- URI -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
  </div>

  <div class="col-xs-12 col-md-8">
    
    <!-- Resumen -->
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    
    <!-- En -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.source']"
      [label]="'item.page.source'">
    </ds-generic-item-page-field>

    <!-- Notas de tesis -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['ort.thesis.note']"
      [label]="'item.page.ort.thesis.note'">
    </ds-generic-item-page-field>

    <!-- Título obtenido -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['ort.thesis.degreename']"
      [label]="'item.page.ort.thesis.degreename'">
    </ds-generic-item-page-field>

    <!-- Descripción física -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.format.extent']"
      [label]="">
    </ds-generic-item-page-field>

    <!-- Notas -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <!-- Temas -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>

    <!-- Tipo de material -->
    <ds-generic-item-page-field [item]="object" 
      [fields]="['dc.type']"
      [label]="'item.page.dc.type'">
    </ds-generic-item-page-field>

    <!-- Texto completo -->
    <ds-item-page-uri-field [item]="object" 
      [fields]="['dc.identifier']"
      [label]="'item.page.relation'">
    </ds-item-page-uri-field>
    
    <!-- Cita -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    
    <!-- Ver en biblioteca -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.relation.other']"
      [label]="'item.page.relation.other'">
    </ds-item-page-uri-field>

    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
