nav {
  height: 80px;
}

img {
  height: 35px;
}

.rad-logo-div {
  border-left: 1px solid #fff;
  width: 110px;
  height: 60px;
}

.rad-logo-div img {
  margin-top: 12px;
}

.searchIcon {
  color: #fff;
}
