<div class="search-div">
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
        <div>
            <div class="form-group input-group">
            <div *ngIf="showScopeSelector" class="input-group-prepend">
                <button class="scope-button btn btn-outline-secondary text-truncate" [ngbTooltip]="(selectedScope | async)?.name" type="button" (click)="openScopeModal()">{{(selectedScope | async)?.name || ('search.form.scope.all' | translate)}}</button>
            </div>
            <input type="text" [(ngModel)]="query" name="query" class="form-control" attr.aria-label="{{ searchPlaceholder }}" [attr.data-test]="'search-box' | dsBrowserOnly"
                [placeholder]="searchPlaceholder">
            <span class="input-group-append">
                <button type="submit" class="search-button btn btn-{{brandColor}}" [attr.data-test]="'search-button' | dsBrowserOnly"><i class="fas fa-search"></i> <!--{{ ('search.form.search' | translate) }}--></button>
            </span>
        </div>
    </form>
    <!-- <ul class="list-group list-group-horizontal list-group-flush" *ngIf="!showScopeSelector">
        <li class="list-group-item bg-transparent"><a [href]="url + '/browse/dateissued'">{{('browse.metadata.dateissued' | translate)}}</a></li>
        <li class="list-group-item bg-transparent"><a [href]="url + '/browse/author'">{{('browse.metadata.author' | translate)}}</a></li>
        <li class="list-group-item bg-transparent"><a [href]="url + '/browse/title'">{{('browse.metadata.title' | translate)}}</a></li>
        <li class="list-group-item bg-transparent"><a [href]="url + '/browse/subject'">{{('search.filters.applied.f.subject' | translate)}}</a></li>
    </ul> -->
</div>
    