<ds-metadata-field-wrapper [label]="label | translate">
    <div *ngFor="let mdValue of mdValues; let last=last;">
        <a *ngIf="mdValue.value && mdValue.value.startsWith('http'); else noLink" class="dont-break-out" [href]="mdValue.value" target="_blank">
           {{ linktext || mdValue.value }}<span *ngIf="!last" [innerHTML]="separator"></span>
        </a>
        <ng-template #noLink>
            <span>{{ linktext || mdValue.value }}</span>
        </ng-template>
    </div>
</ds-metadata-field-wrapper>
